body {
  display: grid;
  grid-template-columns: minmax(auto, var(--container--base));
  justify-content: center;
  padding: var(--space--base);
}

header {
  border-bottom: var(--border--base);
  padding: var(--space--base) 0;

  p {
    margin: 0;
  }
}
