body {
  display: grid;
  grid-template-columns: minmax(auto, var(--container--base));
  justify-content: center;
  padding: var(--space--base);
}

header {
  padding: var(--space--base) 0;

  p {
    margin: 0;
  }
}

.kicker {
  align-items: center;
  display: flex;
  gap: var(--space--small);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: blue;
  }
}

.figure-block {
  display: grid;
  gap: var(--space--x-small);
  grid-template-columns: repeat(3, 1fr);

  figcaption {
    grid-column: 1 / -1;
  }
}

.figure-block__image--single {
  grid-column: span 1;
}

.figure-block__image--double {
  grid-column: span 2;
}

.figure-block__image--full {
  grid-column: 1 / -1;
}
