<ol reversed>
{% set reversedPosts = collections.posts | reverse %}
{% set latest = reversedPosts | first %}

{% for post in reversedPosts %}
  {% if (page.url != post.url) and (page.url != "/" or post.url != latest.url) %}
  <li>
    <a href="{{ post.url }}">
      {% if post.data.title %}
        {{ post.data.title }}
      {% else %}
        <code>
          {{ post.url }}
        </code>
      {% endif %}
    </a>
    <time datetime="{{ post.date | htmlDateString }}">
      {{ post.date | readableDate("LLLL yyyy") }}
    </time>
  </li>
  {%  endif %}
{% endfor %}
</ol>
