---
layout: layouts/base.njk
---

<main>
  <article>
    {%  include "posthead.njk" %}
    {{ content | safe }}
  </article>
</main>
<footer>
  <nav>
    {%  include "postsprogress.njk" %}
  </nav>
</footer>
