---
title: Post 5
place: Wingaersheek Beach, Gloucester, MA
date: 2025-12-11
tags: 
  - food
  - fun
---
<p>hi hi hi</p>

{% figure
  [
    { "src": "./images/emily-2.jpg", "alt": "First view" },
    { "src": "./images/emily.jpg", "alt": "Second view" },
    { "src": "./images/emily-2.jpg", "alt": "First view" },
    { "src": "./images/emily-2.jpg", "alt": "First view" },
    { "src": "./images/emily-2.jpg", "alt": "First view" },
    { "src": "./images/emily.jpg", "alt": "First view", className: "figure-block__image--full" }
  ],
  "A two-photo layout"
%}
