---
layout: layouts/base.njk
---

<article>
{% for post in collections.posts | head(-1) %}
  <p>Latest</p>
  {%  include "posthead.njk" %}
  {{ post.templateContent | safe }}
{% endfor %}
</article>
<footer>
  <nav>
    {%  include "postslist.njk" %}
  </nav>
</footer>
